@import url('https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap');
body{
    background-color: black;
    font-family: 'Be Vietnam', sans-serif;
    display: flex; 
    flex-direction: column; 
}
.container{
    background-color: white;
    width: 60vw;
    height: 800px; 
    margin: auto; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    
}
#survey-form{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-evenly; 
    /* border: 1px yellow solid;  */
    width: 70%; 
    height: 80%;
    margin-top: 30px; 
}
.title{
    margin: auto; 
    padding-top: 30px; 
    padding-bottom: 30px; 
}
#title{
    color: white; 
    font-size: 3vw; 
    text-align: center;  
}
.cont{
    margin-top: 10px;
    margin-bottom: 10px; 
    width: 95%; 
    display: flex; 
    flex-direction: row; 
    /* border: blue 1px solid;   */
}
#description{
    font-size: 1.5vw; 
}
label{
    font-size: 1.2vw;
}
#name, #email, #number{
    border: 0; 
    border-bottom: 1px solid black;
    width: 50%;
    /* margin-left: 20px;  */
}
input:focus, textarea:focus{
    outline: 0; 
}
textarea{
    resize: none; 
    margin: auto; 
    width: 60%; 
    height: 100px;
}
label{
    margin-right: 20px; 
}